* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $fontDefault;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: auto;
}
